.pick-hed h1{
height: fit-content;
width: fit-content;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

/* New Lenear */
margin: auto;

background: linear-gradient(92.48deg, #D80027 2.08%, #FB9E3C 117.25%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
margin-bottom: 2rem;
}
.gpt3__possibilityr{
    width: 100%;
    /* margin: auto; */
    margin-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.bod{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 30px;
grid-row-gap: 0px;
 justify-content: center;
  align-content: center;
  
margin: auto;
max-width: 500px;
width: 100%;
}

.bod .bods{
    /* New Lenear */
width: 326px;
height: fit-content;
min-height: 215px;
max-width: 500px;
background: linear-gradient(92.48deg, #D80027 2.08%, #FB9E3C 117.25%);
border: 1px solid #FFFFFF;
box-shadow: 0px -3.48913px 31.4022px 11.6304px rgba(0, 0, 0, 0.05);
border: none;
border-radius: 9.30435px;
/* margin: auto; */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 72px;
/* or 358% */

text-align: center;
text-transform: capitalize;

/* white */
/* padding: 2rem; */
color: #FFFFFF;
}


.bods .bod-h{
border: none;
background: #FFFFFF;
border-radius: 9px;
height: 73px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50.4742px;
line-height: 58px;
/* or 115% */
padding-top: 0.5rem;

text-align: center;
text-transform: uppercase;

color: #182D2D;}

.bods p{
    text-transform: uppercase;
}
.bods .drop1{
      max-width: 300px;
    
    height: fit-content;
    margin: auto;
}
.bods .drop3{
    max-width: 259px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
    margin: auto;
}
.bods .drop2{
      max-width: 280px;
       padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
    margin: auto;
}
@media screen and (max-width: 1000px) {
 .bod{
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-column-gap: 9px;
grid-row-gap: 9px;
width: 100vw;
padding: 0.5rem;
 }
.bods .drop1{
      max-width: 280px;
    
}
 .gpt3__possibilityr {
  padding-left: 0;
    padding-right: 0;
    width: 100vw;
    margin: auto;
 }
 .bod .bods {
    margin: auto;
    margin-bottom: 3rem;
    width: 100%;
 }
 .pick-hed h1 {
    font-size: 30px;
 }
 .bod .bods {font-size: 17px;}
 .bods .bod-h {
    font-size: 30px;
 }
 
}
/* 
@media screen and (max-width: 1080px) {
.bod .bods{
    width: 320px;
}
} */